// *,
// ::after,
// ::before
//   box-sizing: border-box

body
  width: 100%
  background: #fff
  overflow-x: hidden

.Content
  width: auto
  max-width: 1000px
  padding: 0 10px
  .RightPanel
    padding: 0 0 40px 21px

.BoxHolder
  width: 100%
  position: relative
  overflow-y: hidden

h1
  width: 100%

img
  box-sizing: border-box

.w50
  width: 100%
  max-width: 50%

.w60
  width: 100%
  max-width: 60%

.files-container
  width: 100%
  max-width: 160px

.MainMenu .MainMenuHolder,
.MainMenu .MainMenuHolder .List
  width: 100%
  max-width: 1000px
  display: flex
  .Item
    table
      width: 100%

.MainMenu .MainMenuHolder .List .Item,
.MainMenu .MainMenuHolder .List .Item a
  height: 100%
  max-height: 42px
  display: flex !important
  align-items: center !important
  justify-content: center !important

.icdos,
.icgar,
.icopl
  // width: 100%
  height: auto
  min-height: 51px
  max-width: 250px
  padding: 0 10px 0 55px
  display: flex
  align-items: center
  box-sizing: content-box

.delivery-fields
  width: 100%
  max-width: 600px

table.price
  width: 100%
  max-width: 600px

input[type=file]
  padding-left: 0 !important

.btn
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 0
  span
    width: 100%
    height: 100%
    padding: 8px 14px !important
    display: flex
    align-items: center
    justify-content: center




// div.tbForm form, 
// .tbForm_wait, 
// .tbForm_result
  // box-sizing: border-box
  // width: 100%
  // max-width: 400px
  // height: auto
  // border-radius: 15px
  // background: #fff

div.tbForm
  display: none
  &>div
    width: 100% !important
    height: 100% !important
    padding: 15px 10px
    margin: 0 !important
    display: flex
    align-items: center
    justify-content: center
    flex-flow: wrap
    position: absolute
    background: none
    box-sizing: border-box
    border: none
    border-radius: 0 !important
    overflow: auto !important
    form
      width: 100%
      height: auto
      max-width: 400px
      background: #fff
      border: 1px solid #B6B6B6
      border-radius: 15px

.wrap_1ba2 
  z-index: 111 !important

a, button, .btn, .hamburger-btn
  -webkit-tap-highlight-color: transparent

@media ( max-width: 1000px )

  .Header
    height: auto
    // max-height: 115px
    padding: 10px
    position: relative
    background: none
    box-sizing: border-box
    box-shadow: 0 0 20px -5px #000
    .HeaderHolder
      height: auto
      width: auto
      max-width: 970px
      padding: 0 0 10px
      display: flex
      align-items: flex-start
      justify-content: center
      flex-flow: wrap
      .SiteName
        position: relative
        left: unset
        top: unset
        margin-right: auto
        margin-bottom: 15px
        order: 1
        a
          display: flex
          &+br
            display: none
        img
          width: 100% !important
          max-width: 329px !important
          height: auto !important
          max-height: 48px !important
        &>span
          display: flex
          padding-right: 20px
      .Contacts
        order: 3
        margin: 5px
        position: relative
        top: unset
        left: unset
      .PhoneNumber
        order: 2
        height: auto
        margin: 0 5px 5px
        position: relative
        top: unset
        left: unset
    .Adress
      order: 4
      width: auto
      max-width: 300px
      padding: 0 10px 0 20px
      margin: 0 auto
      background-position: left center
      position: relative
      top: unset
      left: unset
      text-align: center

  .Content
    &>table>tbody>tr
      width: 100%
      display: flex
      justify-content: center

    .objsel
      width: auto
      max-width: 50%
      margin: 0 auto
      box-sizing: border-box
      img
        width: 100%
        max-width: 200px
        padding: 5px
  .krug+p
    width: 100%
    text-align: center



  .MainPlBl

    display: flex
    flex-flow: wrap
    justify-content: center

    .boxind
      width: 100%
      height: auto
      max-width: 282px
      max-height: 480px
      margin-bottom: 4%
    &>.z2
      width: 100%
      max-width: 100%

    &>center
      width: 100%
      display: flex
      align-items: center
      justify-content: center
      a
        padding: 5px

    &>img
      max-width: 50%
      padding: 0 5px
      margin: 0 auto 25px
      object-fit: contain



  .formazakaza
    display: flex
    flex-flow: wrap
    align-items: center
    justify-content: center
    .order-panel
      &:nth-of-type(2)
        margin-top: 20px
      &:nth-of-type(3)
        margin-bottom: 20px

  .order-panel
    width: 100%
    max-width: 465px
    left: unset !important
    margin: 0 15px

  .zakaznov, 
  .zakazott, 
  .zakazstamp
    width: 100%
    max-width: 480px
    .bodyzakaz
      min-height: 300px !important
      max-height: unset !important
      padding: 0 10px
      box-sizing: border-box
      .leftpart,
      .rightpart
        max-width: 50%
        img
          width: 100%
          height: 100% !important
          max-height: 300px
          object-fit: cover
  
  .zakaznov
    min-width: 90%
    max-width: unset
    .bodyzakaz
      flex-flow: row
    .leftpart,
    .rightpart
      width: 100%
      max-width: 100% !important
      margin: 10px 0
      img
        object-fit: contain !important
    .contact_form
      padding-left: 10px
      textarea
        min-height: 100px !important
        


  .bodyzakaz
    width: 100% !important
    height: auto !important
    max-height: 320px
    display: flex
    align-items: center
    justify-content: space-evenly
    flex-flow: wrap
    .wblock
      display: flex
      align-items: center
      justify-content: space-evenly
      gap: 0 10px

    img
      width: auto !important
      height: auto
      max-width: 200px !important
      object-fit: contain
    
  .leftpart img
    padding: 10px

  .leftpart,
  .rightpart
    width: auto
    max-width: 50%
    & + .knopka
      width: 100%
      margin: 0 auto

  .icdos,
  .icgar,
  .icopl
    width: 100%
    margin: 8px

  .w500
    width: 100% !important
    max-width: 500px

  .step-2
    min-height: unset
    margin-bottom: 0 auto 26px
    .w60
      display: flex
      align-items: center
      justify-content: center
      flex-flow: wrap
    .osn-image
      width: auto
      max-width: 200px

  .step-3
    .w80
      width: auto
      max-width: 80%
      display: flex
      justify-content: space-evenly
      flex-flow: wrap
    .w33
      width: 100%
      max-width: 33%
      min-width: 300px
      padding: 0 10px
      display: flex
      align-items: center
      justify-content: space-between
      flex-flow: column
      input[type=text],
      textarea,
      div
        width: 100% !important
      *,
      ::after,
      ::before
        box-sizing: border-box

  #primer
    &+div
      width: 100%
      display: flex
      flex-flow: wrap
      align-items: baseline
      justify-content: center
      div:not(.ottiskpr)
        display: none
      .ottiskpr
        width: auto
        max-width: 50%
        padding: 0 5px
        margin: 15px 0
        box-sizing: border-box
        img
          width: 100%
          height: auto
          max-width: 320px
          object-fit: cover


  .BottomBlock .BottomBlockHolder
    ul
      width: 100%
      height: auto
      display: flex
      align-items: baseline
      justify-content: space-evenly
      gap: 10px
      li
        width: 100%
        max-width: 160px
        margin: 10px 0
        .ImgNav
          width: 100%
          height: auto
          max-height: 100px
          padding-bottom: 5px
          display: flex
          justify-content: center
          td
            width: 100%
            height: auto
            a
              display: flex
              align-items: center
              justify-content: center
            img
              width: 100%
              height: 100%
              max-height: 100px
              object-fit: cover
        &:nth-of-type(2)
          img
            max-width: 104px !important
            max-height: 94px !important
    br
      display: none


  .BottomBlock .BottomBlockHolder, 
  .FooterHolder
    width: auto
    max-width: 970px
    padding: 10px

  #box
    padding: 0

  .Footer
    height: auto
    min-height: 135px
    background-size: cover
    position: relative

  .FooterHolder
    width: auto
    height: auto
    display: flex
    flex-flow: wrap
    justify-content: space-between
    gap: 0 20px

    .CopyRight
      max-width: 567px
      margin: 0
      order: 1
      br
        display: none
    .OrderBy
      order: 2
      padding-bottom: 10px
      display: flex
      align-items: center
      flex-flow: wrap
      br
        display: none


  .tariffs,
  .tariffs2,
  .tariffs3
    display: flex
    flex-flow: wrap
    justify-content: space-evenly
    gap: 10px
    &>div
      height: auto
      display: flex
      flex-flow: column
      justify-content: space-between
      .btn
        margin-bottom: 0
    .spanoran,
    .spanred
      padding: 0 0 5px
      display: flex
      align-items: center
      justify-content: center
      border-left: none
      border-bottom: 3px solid orange
      font-size: 18px
    .spanred
      border-bottom: 3px solid maroon


  .price2+p
    width: 100%
    text-align: center





  @keyframes to-left
    0%   
      bottom: 0
      left: unset
    50%  
      bottom: 30px
      left: unset
    100% 
      bottom: 0
      left: unset
  
  @keyframes to-right
    0%   
      bottom: 10px
      left: unset
    50%  
      bottom: -40px
      left: unset
    100% 
      bottom: 10px
      left: unset
  

@media ( max-width: 767px )

  h1,
  h2,
  h3
    width: 100%
    text-align: center

  .locked
    overflow: hidden

  .w50>img
    margin: 20px auto 0

  .Header
    max-height: unset
    padding: 10px
    margin-bottom: 25px
    box-shadow: 0 0 20px -5px #000
    .HeaderHolder
      height: auto !important

  .MainMenu
    position: fixed
    top: 70px
    right: -100%
    height: 100% !important
    transition: .3s
    z-index: 999
    background: rgba(0, 0, 0, 0.7)
    .MainMenuHolder
      height: 100%
      .List .Item
        background-image: url(../data/bg020000.png)
        background-position: 0 0
        background-repeat: repeat-x
        &:last-child
          background-image: url(../data/bg020000.png)
    &.open
      right: 0
      margin-bottom: 0

  .SiteName
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

  .hamburger-btn
    right: 0
    margin-left: 40px

  .SiteName > span
    display: none !important

  .MainPlBl 
    .boxind
      max-width: 500px
    &>hr
      display: none


  .MainMenu
    width: 100%
    height: auto
    background-repeat: repeat

  .MainMenu .MainMenuHolder .List
    display: flex
    flex-flow: column
    padding: 0

  .MainMenu .MainMenuHolder .List .Item,
  .MainMenu .MainMenuHolder .List .Item a
    width: 100%
    max-width: 100%
    margin: 0
    padding: 0

  .MainMenu .MainMenuHolder .Label
    display: none


  .Content
    .RightPanel
      padding: 0 0 40px
    &>table>tbody>tr
      flex-flow: wrap


  .bodyzakaz
    max-height: unset
    flex-flow: column
    .wblock
      width: 100% !important

  // .order-panel
  //   .bodyzakaz
  //     div,
  //     a
  //       width: 100%

  .formazakaza
    &>div
      width: 100% !important
    .bodyzakaz
      flex-flow: row wrap
      .leftpart,
      .rightpart
        max-width: unset
      &>a
        width: 100%
    .zakaznov, 
    .zakazott, 
    .zakazstamp
      margin-left: 0
      margin-bottom: 7px

  .total-block
    width: auto
    display: flex
    align-items: baseline
    justify-content: center
    flex-flow: wrap
    .price-value,
    .total-price
      margin-right: 0
    .select-button
      width: 100%
      top: 0 !important
      margin-top: 30px !important



  form
    div
      width: auto !important
      height: auto !important
  textarea,
  input[type=text],
  input[type=file],
  input[type=name],
  input[type=email],
  input[type=tel],
  input[type=file],
  input[type=submit],
  input[type=button],
  button[type=submit],
    width: 100% !important
    max-width: 400px
    height: auto !important
    min-height: 30px !important
    box-sizing: border-box
  input[type=submit],
  input[type=button],
  button[type=submit]
    min-height: 40px !important
    margin-top: 30px !important
  input[type=button]
    margin-top: 15px !important


  .btn 
    margin-top: 15px
    span
      min-height: 40px !important
      box-sizing: border-box

  input[type="file" i]::-webkit-file-upload-button
      padding: 6px 3px

  .w60
    max-width: 100% !important



  .zakaznov
    .bodyzakaz
      flex-flow: wrap
    .leftpart
      display: flex
      .lefttop,
      .leftdown
        padding-bottom: 15px
      .leftdown
        border-right: none
        border-bottom: 1px dashed orange
    img
      max-height: 150px !important


@media ( max-width: 450px )
  .Content 
    div,
    table,
    &>table>tbody>tr>td,
    form,
    input[type=text],
    textarea
      width: 100% !important
      max-width: 100%
      box-sizing: border-box !important

    img
      width: auto
      max-width: 100%
      object-fit: contain

  .MainPlBl
    &>img
      width: 100%
      max-width: 50%
  textarea,
  input[type=text],
  input[type=file],
  input[type=name],
  input[type=email],
  input[type=tel],
  input[type=file],
  input[type=submit],
  input[type=button],
  button[type=submit],
    max-width: 100%

  .select-button
    margin: 20px 0

  .order-panel
    padding-bottom: 20px
    .files-container
      width: auto !important
      height: auto
      margin: 10px
      display: flex
      flex-flow: column
      button
        height: auto
        min-height: 40px
    img
      margin: 0

  .krug
    margin-left: 0
    margin-right: 0

  .block3
    img
      width: 100%


  .zakaznov .bodyzakaz .leftpart, 
  .zakaznov .bodyzakaz .rightpart 
    img
      height: auto

  .bodyzakaz 
    .wblock
      flex-flow: wrap


  .zakaznov
    .bodyzakaz
    .leftpart
      img
        max-height: 100px !important




@import hamburger